<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arian</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main class="app">
      <ul>
        <li>
          <a href="#">Github Repository</a>
        </li>
        <li>
          <a href="#">Documentation</a>
        </li>
      </ul>
      <h1>Welcome To <span>AriaL</span></h1>
    </main>
  </body>
</html>
